.entity-card {
    width: 300px;
    height: 400px;
    border: 1px solid #FFD700;
    padding: 20px;
    margin: 10px;
    background-color: #272626;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow-y: auto;
    text-align: justify;  
    text-justify: inter-word;
     scrollbar-color: #FFD700 #444; /* color thumb and track */
    scrollbar-width: thin; /* or "auto" or "thin" */
  }

  .entity-card::-webkit-scrollbar {
    width: 10px; /* Largeur de la barre de défilement */
}

.entity-card::-webkit-scrollbar-thumb {
    background-color: #686666; /* Couleur de la poignée de la barre de défilement */
    border-radius: 5px; /* Arrondi des coins */
}

.entity-card::-webkit-scrollbar-thumb:hover {
    background-color: #FFB700; /* Couleur de la poignée de la barre de défilement au survol */
}

.entity-card::-webkit-scrollbar-track {
    background-color: #444; /* Couleur de la piste (fond) */
    border-radius: 5px; /* Arrondi des coins */
}
  
  .entity-name {
    font-size: 24px;
    text-align: center;
    border-bottom: 2px solid gray;
    padding-bottom: 10px;
    margin-bottom: 15px;
    margin-top: 0;
  }
  
  .entity-evidences {
    margin-bottom: 15px;
    padding: 8px 10px;  
    background-color: #373636;  
    border-radius: 8px;  
    text-align: center;  
}

.entity-powers {
    list-style-type: none;
    padding-left: 0;
}

.entity-powers li::before {
    content: '▪';
    margin-right: 8px;
}

.entity-powers li {
    margin-bottom: 10px;  
}

.mimic-evidence {
    color: red;
}

.highlighted-evidence {
    color: yellow;
}

.entity-card-wrapper::before, .entity-card-wrapper::after {
    content: "";
    display: block;
    background-color: #272626;
    height: 3px;
    position: absolute;
    left: 0;
    right: 0;
}

.entity-card-wrapper::before {
    top: 0;
}

.entity-card-wrapper::after {
    content: none;
}