.evidence-filter-container {
    background-color: #1e1e1e;  
    padding: 10px 10px 0px 0px;
    border-radius: 8px; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);  
    color: #fff; 
    position: -webkit-sticky; /* Pour Safari */
    position: sticky;
    top: 0; 
    z-index: 100; 
}

.evidence-filter-title {
    display: none;
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
    margin: 0px 10px 20px 10px;
    display: none;
}

.evidence-button {
    margin: 0px 10px 20px 10px;
    padding: 8px 16px;
    border: 1px solid #555;  
    border-radius: 5px;
    background-color: #2a2a2a;  
    color: #fff;  
    cursor: pointer;
    transition: background-color 0.3s, transform 0.15s; 
}

.evidence-button:hover {
    background-color: #3a3a3a;  
    transform: scale(1.05);  
}

.evidence-button.active {
    background-color: #0077ff;  
    transform: scale(1.1);  
    border: none;  
    box-shadow: 0 0 10px rgba(0, 119, 255, 0.6); 
    color: #1e1e1e;  
}

.arrow-icon {
    display: inline-block;
    margin-left: 10px;
    transform-origin: center;
    transition: transform 0.3s;
}

.arrow-icon.up {
    transform: rotate(180deg);
}


@media (max-width: 790px) {
    .evidence-button {
        display: none; 
    }

    .evidence-filter-title {
        display: flex; 
        justify-content: center; 
        align-items: center; 
    }
}


@media (max-width: 790px) {
    .evidence-filter-container.menu-open .evidence-button {
        display: block; 
        width: 100%; 
        margin: 10px 0;
        padding: 5px 10px;
        font-size: 14px;
    }
    
}