@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap');

body {
  margin: 0;
  font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

   /* Ajout de l'image de fond */
   background-image: url('./assets/images/asile.jpg');
   background-repeat: no-repeat;
   background-size: cover; 
   background-attachment: fixed; 
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

